$backgroundColor: #d33d50;
$textColor: #2c2c2c;
$MobileS: 320px;
$MobileM: 375px;
$MobileL: 425px;
$Tablet: 768px;
$Laptop: 1024px;
$LaptopL: 1440px;

html, body {
    background: $backgroundColor;
    color: $textColor;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
#particles-js {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: $backgroundColor;
    background: $textColor;
}
#navigation {
    text-align: center;
    position: fixed;
    bottom: 0%;
    background: $textColor;
    color: $backgroundColor;
}
#navigation > a > div:hover {
    background: $textColor;
    animation: popOut 200ms ease-in-out forwards;
}
@keyframes popOut {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.2); box-shadow: 0px -3px 5px black;}
}
#title {
    text-align: center;
    display: block;
    z-index: 2;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
#horizontal {
    width: 80vw;
    height: 3px;
    background-color: $textColor;
    margin: 0 10% 0 10%;
    display: block;
    position: absolute;
    top: 45%;
    // transform: translate(-50%, -50%);
    animation: underline 2s ease-in-out;
    box-shadow: 2px 3px 6px black;
}
@keyframes underline {
    0% {transform: scaleX(0.1); opacity: 0;}
    80% {transform: scaleX(1.1);}
    100% {transform: scaleX(1.0); opacity: 1;}
}
#dev {
    text-align: center;
    background-color: $textColor;
    color: $backgroundColor;
    display: block;
    z-index: 2;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s ease-in-out;
}
@media only screen and (min-width: $MobileS) {
    #navigation {
        font-size: 16px;
    }
    #title{
        font-size: 50px;
        text-shadow: 2px 3px 6px black;
    }
    #dev {
        font-size: 30px;
        box-shadow: 2px 3px 6px black;
    }
}
@media only screen and (min-width: $Tablet) {
    #navigation {
        font-size: 18px;
    }
    #title {
        font-size: 60px;
        top: 39%;
    }
    #dev {
        font-size: 35px;
        top: 51%;
    }
}